# SicherungX Dependencies
flask>=3.0.3
psutil>=5.9.8
watchdog>=4.0.0
wmi>=1.5.1
pywin32>=307
scikit-learn>=1.4.2
pandas>=2.2.2
numpy>=1.26.4
python-dotenv>=1.0.1
twilio>=9.0.4
waitress>=3.0.0
flask-login>=0.6.3
